.tree-item {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.folder-icon {
  margin-right: 5px;
}

.file-icon {
  margin-right: 5px;
}

.tree-heading {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.nested-tree {
  margin-left: 20px;
}

