/* ModalStyles.css */

/* Style for the modal overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2); /* Slightly transparent black overlay */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Style for the modal container */
.modal {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Style for the modal content */
.modal-content {
  text-align: center;
}

/* Style for the close button (×) */
.modal-content .close {
  position: relative;
  top: -25px;
  right: -120px;
  font-size: 30px;
  cursor: pointer;
  color: #8888;
}
